obj_sky/
obj_srf06-cc26xx/
obj_openmote-cc2538/
testscript.py
Makefile.target
symbols.c
symbols.h
basim.csc
contiki-sky.a
basim.csc
notes
program_script.py
*.map
*.sky
*.srf06-cc26xx
*.elf
*.hex
*.bin
*.openmote-cc2538
